* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: rgb(223, 223, 158);
    margin: 0;
    min-height: 100%;
}

.header {
    color: rgb(73, 9, 177);
    text-align: center;
    font-size: 24px;
}

.wrapper {
    box-sizing: content-box;
    width: 28em;
    padding: 2.5em 3em;
    background-color: #73c3e2;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0.9em 2.8em rgb(86, 66, 0, 0.2);
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.starts-container {
    text-align: right;
    margin-bottom: 1.2em;
}

.starts-container span {
    font-weight: 600;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.image {
    width: 100px;
    height: 100px;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #0000;
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;

}

.card-before {
    background-color: orange;
    font-size: 2.8em;
    font-weight: 600;

}

.card-after {
    background-color: #ffff;
    transform: rotateY(180deg);
}

/* .card-container.flipped.card-before {
    /transform:rotateY('180deg');
} */

.card-container.flipped {
    .card-after {
        transform: rotateY(0deg);
    }

    .card-before {
        transform: rotateY(180deg);
    }

}

.controls-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #63d454;
    top: 0;
}

#stop {
    font-size: 1.1em;
    display: block;
    margin: 1.1em auto 0 auto;
    background-color: #0000;
    color: #f80a0a;
}

.controls-container button {
    font-size: 32px;
    box-shadow: 0 0.6 2em rgba(189, 171, 113, 0.2);
}

.hide {
    display: none;
}

#result {
    text-align: center;
}

#result h2 {
    font-size: 2.5em;
}

#result h4 {
    font-size: 1.8em;
    margin: 0.6em 0 1em 0;

}

/*Media Queries */
@media screen  and (max-width: 768px) {
    body {
        min-height: 80%;
    }

    .header {
        font-size: 20px;
    }

    .wrapper {
        width: 90%;
        padding: 2.2em 2em; 
    }

    .game-container {
        width: 95%;
        gap: 0.4em;
    }

    .starts-container {
        margin-bottom: 1em;
    }

    .starts-container span {
        font-weight: 500;
    }

    .image {
        width: 90px;
        height: 90px;
    }

    #stop {
        font-size: 1.0em;
    }

    #result h2 {
        font-size: 2.2em;
    }

    #result h4 {
        font-size: 1.6em;
    }
}


